<h2>Add New Crypto</h2>
<%= form_with model: @user_crypto do |form| %>
  <%= form.text_field :amount, placeholder: 'Amount' %>
  <%= form.select     :type, ['BTC', 'ETH'] %>
  <%= form.submit %>
<% end %>